body{
	color: white;
	    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/rainy-stormy-darkness-wet-weather-background-depressed-sad-background_bzxjr4x7h__F0000.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.btn{
    border-color: white;
    color: white;
    background-color: grey;
}
.wi{
	font-size: 5em;
}
.input-group{
	margin: 1em auto;
	max-width: 500px;
}
.container{
	text-align: center;
}
.temprature{
	font-size: 2em;
}
.discription{
	font-size: 2em;
}
.city-name{
	letter-spacing: 3px;
	text-transform: uppercase;
}
.weather-info,.weather-app{
	display: none;
	color: black;
}
@import url(https://fonts.googleapis.com/css?family=Questrial);
body {
	font-family: Questrial;

}

.weather-app {
	width: 100%;
	height: 100vh;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
	max-height: 350px;
}
.days-of-the-week {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 350px;
	overflow: hidden;
}
.days-of-the-week li {
	width: 12.8%;
	height: auto;
	min-height: 350px!important;
	border: none;
	display: inline-block;
	transition: ease .2s;
	margin: 0;
	padding: 0;
	font-size: 10px;
	color: #ccc;
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 20px;
	text-shadow: 0px 1px 3px #333;
	margin-left: -3px;
	margin-right: -3px;
	color: white;
}
.days-of-the-week li:hover {
	padding-left: 60px;
	padding-right: 60px;
}
.days-of-the-week li:nth-child(odd):hover {
	background-position: 100% center;
}
.days-of-the-week li:nth-child(even):hover {
	background-position: 0 center;
}
.days-of-the-week li h3 {
	transition: ease .25s;
	font-size: 10px;
	color: #999;
}
.days-of-the-week li:hover h3 {
	color: #fff;
}
.monday {
	background: url('https://static.pexels.com/photos/113/sky-clouds-cloudy-weather-medium.jpg') no-repeat center center;
	background-size: cover;
	-webkit-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	position: relative;
	z-index: 12;
}
.tuesday {
	background: url('https://pixfeeds.com/images/14/388569/1200-497100312-cumulus-clouds.jpg') no-repeat center center;
	background-size: cover;
	-webkit-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	position: relative;
	z-index: 10;
}
.wednesday {
	background: url('https://static.pexels.com/photos/799/city-lights-night-clouds-medium.jpg') no-repeat center center;
	background-size: cover;
	-webkit-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	position: relative;
	z-index: 9;
}
.thursday {
	background: url('https://static.pexels.com/photos/896/city-weather-glass-skyscrapers-medium.jpg') no-repeat center center;
	background-size: cover;
	-webkit-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	position: relative;
	z-index: 8;
}
.friday {
	background: url('https://atomikaztex.files.wordpress.com/2009/07/mammatus-storm-clouds_san-antonio1.jpg') no-repeat center center;
	background-size: cover;
	-webkit-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	position: relative;
	z-index: 7;
}
.saturday {
	background: url('https://static.pexels.com/photos/3768/sky-sunny-clouds-cloudy-medium.jpg') no-repeat center center;
	background-size: cover;
	-webkit-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 8px 0px 12px -1px rgba(0, 0, 0, 0.53);
	position: relative;
	z-index: 6;
}
.sunday {
	background: url('https://static.pexels.com/photos/6923/mountains-fog-green-beauty-large.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	z-index: 5;
}
.active {
	padding-left: 40px;
	padding-right: 40px;
	color: white;
}
.days-of-the-week li:hover .fa {
	top: 100px;
	opacity: .95;
	font-size: 50px;
	color: #fff;
}
b {
	font-size: 10px;
	padding-top: 50px;
}
.days-of-the-week a {
	display: none;
}
.days-of-the-week img {
	display: none;
}
em {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	transition: ease .3s;
}
.days-of-the-week li:hover em {
	bottom: 10px;
	color: #fff;
	font-size: 20px;
}
@media (max-width:1000px) {
	.days-of-the-week li h3 {
		font-size: 16px;
	}
}
@media (max-width:750px) {
	.days-of-the-week li h3 {
		font-size: 12px;
	}
}
@media (max-width:650px) {
	.days-of-the-week li {
		width: 100%;
		display: block;
		text-align: center;
	}
	.days-of-the-week li h3 {
		font-size: 30px;
	}
	.weather-app {
		height: 100%;
		max-height: 100%;
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
	.days-of-the-week li {
		padding: 0px;
		color: white;
	}
	.days-of-the-week li:hover {
		padding: 0px;
	}
	.days-of-the-week {
		height: 100%;
	}
}
